include head

body

  main

    header
      a(href="https://glitch.com")
        - bird = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fcarp.svg"
        img(class="bird" width=75 height=62 src=bird)

      h1
        a(href="https://glitch.com", onclick="javascript: ga('send', {hitType: 'pageview',page: '/internal-links/homepage/h1'});") 
          span Glitch
        span  is the friendly community where you'll build the app of your dreams

    section
      h2 Stuff we're asked a lot
      - computer = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3A0ec6187f-5082-432a-a8dc-1ba9b7e1e94e%2Fcomputer-site.svg"
      img(class="computer" width=107 height=52 src=computer)
    
    section
      h3 About Glitch
      ul
        li
          a(href="#cost") How much does it cost?
        li
          a(href="#trust") Why can I trust building projects on Glitch?
        li
          a(href="#inspire") What inspired Glitch?
      
      h3 Using Glitch
      ul 
        li
          a(href="#restrictions") What technical restrictions are in place?
        li
          a(href="#languages") What languages and frameworks are supported?
        li
          a(href="#remix") What's "remixing"?
        li
          a(href="#db") Do you have built-in persistence or a database?
        li
          a(href="#env") How do you store secrets/credentials or private data?
        li
          a(href="#github") Do you import or export from GitHub?
        li
          a(href="#domain") Do you support custom domain names?
        li
          a(href="#project") What environment variables are available in a project?
        li
          a(href="#failStart") I'm getting the error 'failed to start application', what's up with that?
        li
          a(href="#restart") Can I change which files cause my app to restart?
        li
          a(href="#server") Do I need these server-side files?
          
      h3 Glitch Buttons
      ul 
        li
          a(href="#remixbutton") How do I add a Remix button to my docs?
        li
          a(href="#importbutton") How do I add a GitHub import button to my readme?
        li
          a(href="#thebutton") How do I embed the Glitch button in my project?
      
      p
        a(href="#help") Don't see your question answered?    
        
    section
      a(name="cost")
      h3 How much does it cost?
      p Glitch is free to use (with some resource restrictions, see below). We expect that we may charge for premium services or capabilities in the future, but the stuff you can do now will stay free.
      
      a(name="trust")
      h3 Why can I trust building projects on Glitch?
      p You can get a zip of your code in Glitch, or export it to GitHub and it’ll work without requiring any changes on other services (go to ‘Advanced Options’ from the top-left ‘Project Info’ menu). We’re made by Fog Creek, a profitable business that has been around for over 17 years – so you don’t have to worry about us being some flighty startup.

      a(name="restrictions")
      h3 What technical restrictions are in place?
      p While we want to keep Glitch as open as possible, there are a few restrictions in place. These are there to help maintain service levels for all, and to stop someone’s accidental infinite loop somehow costing us a small fortune. The restrictions include:
      ul
        li Projects created by anonymous users expire after 5 days (login via GitHub or Facebook to keep your projects around).
        li Projects sleep after 5 minutes if they are not used.
        li Projects have a limit of 128MB of space on the container (though things written to '/tmp' don't count towards that, and we use compression to squeeze the most out of that space). As well as up to 512MB of assets storage.
        li Projects only show up to 100 files in the file tree, the rest get hidden from view but still exist. Using `.gitignore` to temporarily remove some files from view can help work around this. 
        li Similarly, files above 200kb are hidden from the file tree too (but still exist).         
      
      p If you get stuck because of these limits, then 
        a(href="http://support.glitch.com/") let us know 
        | and we'll try and work something out for you.

      a(name="languages")
      h3 What languages and frameworks are supported?
      p Currently, we only support Node.js. All Node packages should work fine (just require them and include them in your package.json file), 
        a(href="http://glitch.com") see our community projects 
        | for some examples. If you encounter any problems please 
        a(href="http://support.glitch.com/") let us know!

      a(name="remix")
      h3 What’s "remixing"?
      p When you remix a project on Glitch, you’re creating a copy of an existing project that you’re then able to edit and make any changes that you want. So for example, we provide a number of community projects that provide examples of doing specific things on Glitch that you can remix to get started with your own web apps quickly.
      p Note that for security reasons, the 
        code .env 
        | file and contents of the 
        code .data 
        | directory aren’t copied when a project is remixed.

      a(name="db")
      h3 Do you have built-in persistence or a database?
      p We have a persistent file system, so anything you store within your project is kept, even after your container sleeps. This means you can use files as a flat file database, or save your database files locally (see our 
        a(href="https://glitch.com/edit/#!/project/sqlite3-db") SQLite3 
        | and 
        a(href="https://glitch.com/edit/#!/project/ne-db") NeDB 
        | examples). You can also use third-party storage services, like a hosted MongoDB database or Redis (see our 
        a(href="https://glitch.com/edit/#!/project/mongodb-sync") MongoDB 
        | example).
      p We recommend creating a folder called 
        code .data 
        | as a safe place to store your database files. This folder isn’t copied when a project is remixed.

      a(name="env")
      h3 How do you store secrets/credentials or private data?
      p 
        code .env 
        | is a secure environment config section in your projects, useful for storing API keys and app credentials. Only invited collaborators are able to see the contents of your .env file. So anonymous viewers or logged-in users who haven’t been invited to your project can’t see them. When remixing an app the values are cleared so they’re not copied across.
      p In addition, creating a folder called 
        code .data 
        | is a safe place to store your database files. This folder isn’t copied across when a project is remixed.

      a(name="github")
      h3 Do you import or export from GitHub?
      p Yep! You can import and export your code to and from GitHub (
        a(href="https://blog.fogcreek.com/new-import-export-github/") full details here
        | ). You can also download your source code as a zip. Both options are available under ‘Advanced Options’ from the top-left ‘Project Info’ menu. Glitch code isn’t special in anyway – it should work without any changes on other services, so you’re not locked in. If you've signed in with Facebook, you'll need to also sign in with GitHub to use these features.

      a(name="domain")
      h3 Do you support custom domain names?
      p Not yet! But it's easy to change your custom subdomain. For now, if you need a custom domain, you can use 
              a(href="https://blog.fogcreek.com/how-to-configure-a-custom-domain-for-hyperdev-projects/") this workaround 
              | to be able to use your own domain name for a Glitch project. 

      a(name="project")
      h3 What environment variables are available in a project?
      p Aside from those you specify yourself in the .env file in your project, the following environment variables are available to all projects:
      ul
        li PORT – the port your project uses, which defaults to port 3000
        li PROJECT_DOMAIN – Contains your project’s name, useful for programmatically specifying your project’s URL
        li PROJECT_ID – the ID of your project
        li PROJECT_INVITE_TOKEN – Useful if you want to invite people automatically to edit your project

      a(name="failStart")
      h3 I'm getting the error 'failed to start application', what's up with that?
      p Node.js projects on Glitch that need a server require a package.json file with a start command in the scripts field to run. So be sure to include  
        code "scripts": { "start": "node server.js" }
        | in package.json (
        a(href="https://glitch.com/edit/#!/adjoining-burglar?path=package.json") see an example
        | ). You can replace `server.js` with the name of your server start file. Shell scripts 
        a(href="https://glitch.com/edit/#!/coal-note?path=package.json") also work.

      a(name="restart")
      h3 Can I change which files cause my app to restart?
      p Yes, you can add a file called `watch.json` to your app, and the settings it contains will override the default install and restart trigger files and timings. This means that you can specify which files trigger a container restart or install when edited, as well as change the delay time between making edits and those changes being applied. For more information, see 
        a(href="https://glitch.com/edit/#!/project/watch-json") watch-json
        |.
        
      a(name="server")
      h3 Do I need these server-side files?
      p Maybe not. We support static sites, so if your app or site only contains HTML, JavaScript and CSS, and you don't need any additional packages from npm, then you don’t need them. Feel free to remove any server js files, along with package.json and your site will work without them.        
        
      a(name="remixbutton")
      h3 How do I add a Remix button to my docs?
      p Users can remix any public app on Glitch, but you might want to encourage your users to remix an app from your own website, blog post or GitHub page. To create your button use our 
        a(href="https://remix-button.glitch.me/" target="_blank") handy generator
        |.
      
      a(name="importbutton")
      h3 How do I add a GitHub import button to my readme?
      p Users can import any public app on GitHub into Glitch. To make it easy for them to do so, you can add a link on your GitHub page that will import the repo you specify to Glitch, no account required. To create your button use this 
        a(href="https://github-import.glitch.me/" target="_blank") little generator
        |.  

      a(name="thebutton")
      h3 How do I embed the Glitch button in my project?
      p If you want to encourage others to remix and learn more about your apps, we've built a widget that you can include in your projects to generate a neat little button. To use it, you just need to copy and paste a short    
        a(href="https://button.glitch.me/" target="_blank") code snippet into your project
        |.  

      a(name="inspire")        
      h3 What inspired Glitch?
      p HyperCard, Stack Overflow, Neko Atsume, Windows 3.0 Hot Dog Theme, Glitch (the game), Visual Basic, Geocities, "View source", and you! 

      a(name="help")
      h3 Don't see your question answered?
      p Ask it on the 
        a(href="http://support.glitch.com/") forum 
        | or drop us an 
        a(href="mailto:customer-service@fogcreek.com") email
        | .
    
    include footer
