header
  a(href="https://glitch.com")
    - bird = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Flogo-day.svg"
    img(class="bird" width=75 height=62 src=bird)

  h1
    a(href="https://glitch.com", onclick="javascript: ga('send', {hitType: 'pageview',page: '/internal-links/homepage/h1'});") 
      span Glitch
    span  is the friendly community where you'll build the app of your dreams

  div
    p
      &nbsp;

  div.wistia_responsive_padding
    div.wistia_responsive_wrapper
      span.wistia_embed.wistia_async_413ljrk4gi.screenshot(popover=true popoverAnimateThumbnail=true)
        &nbsp;
        
  span.hero
    - ga = 'button1'
    include cta        