include head

body

  main

    include header

    section
      p	With working example apps to remix, a code editor to modify them, instant hosting and deployment - anybody can build a web app on Glitch, 
        strong for free.


    section
      h2 Start by remixing
      img.screenshot(src="https://cdn.gomix.com/6d561a98-036e-47a6-b152-a2a66a73d13e%2Fglitch-remix-pointer.png")
      p You never have to start from a blank slate. Remix a full, working app to personalize it for your needs, or build on the most popular and powerful developer frameworks to create your app.

    section
      h2 Real collaboration
      img.screenshot(src="https://cdn.gomix.com/6d561a98-036e-47a6-b152-a2a66a73d13e%2Fglitch-multi-player.gif")
      p There's no need for complicated version control — the built-in editor lets you, and anybody else you invite, edit code all at once and undo mistakes as they happen. It's a lot like working together in Google Docs.

    section
      h2 Glitch is for 
        em everyone
      img.screenshot(src="https://cdn.gomix.com/6d561a98-036e-47a6-b152-a2a66a73d13e%2Fglitch-ideas.png")
      p Too many coding tools put up big barriers to your creativity by requiring tons of setup, having lots of confusing and complicated features, or by letting jerks run rampant in the community. With Glitch, we're rolling out the red carpet to welcome creators just like you.

    section
      h2 It's fun, but it's not a toy
      img.screenshot(src="https://cdn.hyperdev.com/79f9314d-5056-4089-9d5d-d3c31751d071%2FgomixNoMess.png")      
      p Glitch isn't a "dumbed down" version of a real developer environment — your Glitch app runs on the exact same cloud infrastructure and Node.js engine that the best developers use to run their apps. We've just made it easier for you to get started.
      p While you work with Glitch, we seamlessly upgrade your servers in the background. There’s no deployment or server provisioning - it all happens automatically.

    section
      h2 Built by a company that gives a damn
      img.illustration(src="https://cdn.gomix.com/6d561a98-036e-47a6-b152-a2a66a73d13e%2Ffc-logo.svg" width=250)
      p Glitch is made by 
        a(href="https://fogcreek.com") Fog Creek Software
        |. We've been around since 2000 as one of the most influential small tech companies in the world. In the past, our team invented 
        a(href="https://trello.com") Trello 
        | to help manage projects, we co-created 
        a(href="https://stackoverflow.com") Stack Overflow 
        | to answer any question a developer needs, and we built 
        a(href="https://fogbugz.com") FogBugz
        |, which pioneered bug-tracking.
        
      p Glitch is part of that legacy, building on all we've learned to help anybody make the app of their dreams.
  
    section.hidden
      h2 Why Did We Make Glitch?
      img.illustration(width=107 height=76 src="https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1:0ec6187f-5082-432a-a8dc-1ba9b7e1e94e/coffee-time.svg")
      p In some ways, Glitch is a throwback to an older era of software or the internet, when there were simpler ways to get started making cool stuff. For people who were around at that time, they'll understand Glitch easily: We’re bringing “View Source” back. Of course, they didn't literally take “View Source” out of web browsers, but the ability to just look at the code behind something, and tweak it, and make your own thing, was essential to making the Internet fun, and weird, and diverse, in its early days. And that has sadly disappeared.
      p Similarly, in even earlier eras, tools like HyperCard on the Mac and Visual Basic on Windows democratized software creation, letting regular individuals or casual business users create useful apps to meet their needs. During development, Glitch was even called “HyperDev”, as a nod to this history — and its early-90s aesthetic subtly nods to that heritage, too.
      p Whether we look at simple issues like being able to do fun little bots, or hugely complex issues like trying to make tech and programming more inclusive, Glitch has a role to play in solving problems that matter. And we’re going to have fun doing it!

    include footer
