include head

body.partners

  main

    header
      a(href="https://glitch.com")
        - bird = "https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Flogo-day.svg"
        img(class="bird" width=75 height=62 src=bird)

      h1
        a(href="https://glitch.com", onclick="javascript: ga('send', {hitType: 'pageview',page: '/internal-links/homepage/h1'});") 
          span Glitch for Platforms
        span  helps any developer succeed with your APIs. 

      img.screenshot(src="https://cdn.hyperdev.com/79f9314d-5056-4089-9d5d-d3c31751d071%2FgomixRemix.png")

      section
        h2 Get started with our free tools
        p 
          | Glitch gives you an unprecedented set of free tools to promote your API to developers:
        ul
          li 
            strong Real-time code collaboration 
            | - Code alongside anyone, anywhere, right now
          li
            strong Unlimited projects 
            | - Create any number of projects and sample apps
          li  
            strong Import from GitHub 
            | - 
            a(href="https://github-import.glitch.me/" target="_new") Add a button 
            | to import a repo with just one click
          li
            strong Remix on Glitch 
            | - 
            a(href="https://remix-button.glitch.me/" target="_new") Embed a button   
            | in any help doc or blog post

    section.featured-projects
      h3
        | Glitch in the wild
      p
        | Folks are already using Glitch to improve experiences for developers
      ul
        li
          span
            div.users
              div.user
                img(width="30" height="30" src="https://avatars2.githubusercontent.com/u/1541324?v=3&amp;s=48") 
            div.user-names
              span.user-name fbsamples
          a(href="https://developers.facebook.com/docs/messenger-platform/guides/quick-start" target="_blank")
            div.featured-container
              img.featured(width="30" height="30" src="https://cdn.gomix.com/6ce807b5-7214-49d7-aadd-f11803bc35fd%2Ffeatured-facebook-messenger.png")
              p.project-name
                | Quickstart docs  
        li
          span
            div.users
              div.user
                img(width="30" height="30" src="https://avatars2.githubusercontent.com/u/16260958?v=3&amp;s=48") 
            div.user-names
              span.user-name howdyai
          a(href="https://github.com/howdyai/botkit#start-with-a-starter-kit" target="_blank")
            div.featured-container
              img.featured(width="30" height="30" src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Ffeatured-slack-slash-bot.svg?1494429489069")
              p.project-name
                | App templates   
        li
          span
            div.users
              div.user
                img(width="30" height="30" src="https://avatars2.githubusercontent.com/u/109142?v=3&amp;s=48") 
            div.user-names
              span.user-name twilio
          a(href="https://www.twilio.com/blog/2017/04/playing-a-twitter-adventure-game-using-sms-and-twilio-on-glitch.html" target="_blank")
            div.featured-container
              img.featured(width="30" height="30" src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2FtwilioBlog.png?1494429133937")
              p.project-name
                | Blog posts                  

    section
      p  &nbsp;
      h2 Double-down on Developer Experience with Glitch for Platforms

    div.contact-form-inputs
      a(href="#contactForm")
        input.form-submit(type="button" value="Try Glitch for Platforms")     

    section
      h3 Answer that ROI question
      img.screenshot(src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2FglitchStats.png?1494431545395")      
      p We provide you with advanced analytics so that you can keep track of how many developers try and succeed with your API.
      p Our stats help you understand how the refinements you make to developer experience improve success rates with your API. They enable you to optimize your funnel and make the best use of your time and resources. As well as improve outcomes for developers and demand the budget you deserve.

    section
      h3 Know when a dev is stuck and help them before they give up
      img.screenshot(src="https://cdn.glitch.com/338d8e79-88df-409c-aa04-85d73816e008%2FraiseHandForHelp.png?1493816227082")
      p Hop into a project and help people directly. Inline requests mean you know exactly which part of the code they're stuck with.
      p Glitch's code editor allows real-time, simultaneous editing like in Google Docs. So you and your new developer BFF can edit code together, and fix issues as they happen.

    div.quote
      span
        div.users
          div.user
            img(width="30" height="30" src="https://avatars0.githubusercontent.com/u/752729?v=3&amp;s=48")
        div.user-names
          span.user-name
            | David Cole, Support Engineer at Wistia
      article.projects
        div.project
          div.project-container
            i
              | "Working in the Glitch environment makes me feel much more productive and creative. Our customers feel the same, which is why I'm so psyched about having our example apps on it."

    section
      h3 Reach an inclusive developer audience
      img.screenshot(src="https://cdn.hyperdev.com/79f9314d-5056-4089-9d5d-d3c31751d071%2FgomixNoMess.png")      
      p We've built a friendly, welcoming community with absolutely zero tolerance for harassment or abuse. Our outreach efforts regularly connect with underrepresented developers that other communities don't serve.
      p When you bring your platform to Glitch, you get outside the bubble of the developers you already know.

    div.quote
      span
        div.users
          div.user
            img(width="30" height="30" src="https://avatars0.githubusercontent.com/u/729873?v=3&amp;s=48")
        div.user-names
          span.user-name
            | Ben Brown, Founder and CEO at Howdy
      article.projects
        div.project
          div.project-container
            i
              | "We use Glitch to reduce friction and get more people working with our toolkit. Glitch takes what could be a really complicated process and makes it a one-click operation." 

    section
      h3 But, that's not all...
      img.screenshot(src="https://cdn.glitch.com/338d8e79-88df-409c-aa04-85d73816e008%2FfacebookLandingPage.png?1493816289059")
      p We also give you:
      ul
        li  
          strong A custom-branded gallery 
          | - Feature sample apps for your API that developers can remix immediately using Glitch
        li
          strong Account management 
          | - We manage your page for you, so you can focus on what you do best - helping developers
        li 
          strong Enhanced support 
          | - We'll be on hand to help you build your projects and get the most out of Glitch
          
    include form

    section
      h2 Backed by 17 years of delighting developers
      img.illustration(src="http://www.fogcreek.com/images/logos/fc-logo.svg" width=250)
      p Glitch is made by Fog Creek Software, one of the most influential small tech companies in the world. We co-created Stack Overflow, invented Trello, and pioneered bug tracking with FogBugz. We literally wrote the book on writing great software, and now we're reinventing things again.  

    p  &nbsp;

    include footer
