sans-serif = "Benton Sans", Helvetica, Sans-serif
menlo = Menlo, Monaco, mono-space

primary = #222
secondary = #C3C3C3
tertiary = #9B9B9B
white-background = #fff
secondary-background = #83FFCD
primary-background = #FFD1C7 
link = #373FFF
header-blue = #373FFF
glitch-blue = #373FFF
glitch-lightblue = #9CE0FC
glitch-purple = #C9BFF4
glitch-orange = #FB9F58
glitch-teal = #31CCD4
glitch-birdred = #FF686C
glitch-birdpink = #F49CB1
glitch-fishpink = #F1A5FF
glitch-fishblue = #373FFF
glitch-fishred = #FE6D76
glitch-fishpurple = #E75DFF
shadow = rgba(0, 0, 0, .2)
caution = #fcf3b0
input-focused = #d8f8ff
error = #ff7967
beta = #fcf3b0
section-line = #9b9b9b

large-viewport = 1200px

// GLOBALS

html
  font-size 62.5%
  @media(min-width: large-viewport)
    font-size: 68%

body
  color: primary
  font-family: sans-serif
  margin-top: 2rem
  padding-left: 1.5rem
  padding-right: 1.5rem
  background-color: white-background

main
  margin-top: 1rem
  max-width: 60rem
  margin-left: auto
  margin-right: auto
  overflow: auto

h1
  font-size: 2.4rem
  margin-bottom: 1rem
  margin-top: 1.5rem
  color: header-blue
  
  a
    color: glitch-fishpurple
  
h2
  font-size: 1.8rem
  margin-bottom: 1.8rem
  line-height: 2.4rem

h3
  font-size: 1.6rem
  font-weight: 600
  margin-bottom: 0
  color: glitch-teal

p
  margin-left: 1rem
  line-height: 2rem
  font-size: 1.6rem
  
li, blockquote
  margin-top: 1.5rem
  line-height: 2rem
  font-size: 1.6rem
  
  b
    color: glitch-orange

.nav-link
  margin-left: 1rem

h1,
h2,
h3,
p,
.bird
  max-width: 50rem

section
  h2
    max-width: 55rem
  p
    line-height: 1.5;

a
  color: link
  text-decoration: none
  &:hover
    text-decoration: underline

header,
section,
footer
  margin-top: 5.5rem


.logo
  padding-bottom: 1rem

header
  h2
    margin-bottom: 3.5rem  
    
.bird
  display: inline-block
  width: 7.5rem
  vertical-align: middle

.cta
  margin-top: 1.5rem

button
  color: primary
  font-size: 1.6rem
  font-weight: 600
  border: solid primary .2rem
  display: inline-block
  border-radius: 5px
  padding: .6rem 1.2rem
  cursor: pointer
  background-color: secondary-background
  box-shadow: 4px 4px 0 primary
  margin-bottom: 1rem
  &:hover
    box-shadow: 2px 2px 0 primary
    position: relative;
    top: 2px;
    left: 2px;
  &:active
    box-shadow: none

.button-secondary
  background-color: white
  margin-right: 1rem
  margin-bottom: 1rem
  &:hover
    background-color: secondary-background-hover

.emphasis
  font-weight: 600

footer
  border-top: 1px solid tertiary
  padding-top: 2rem
  margin-top: 5rem
  margin-bottom: 2rem
  p
    margin-top: 1rem
    margin-left: initial
  .bird
    display: inline-block
    vertical-align: middle
    width: 3.5rem
    margin-right: .5rem

span.hero
  p
    margin-left: 0
  div
    button
      margin-top: 2.5rem

.screenshot
  max-width: 95%
  height: auto
  display: block
  border-radius: 5px
  box-shadow: 8px 6px 0 shadow
  margin-bottom: 2rem
  border: 1px solid #000
  canvas,
  img
    max-width: 100%
    border-radius: 5px
  .gifffer-play-button
    top: 35%
    left: 45%

.illustration
  display: inline
  margin-bottom: 1rem
  margin-left: 1rem
  max-width: 90%

.beta-notice
  background-color: caution
  color: primary
  font-size: 1.4rem
  font-weight: bold
  display: inline-block
  padding: .3rem .5rem
  padding-top: .4rem

input
  font-size: 1.6rem
  border: 0
  border-bottom: 2px solid primary
  padding: 0.5rem
  margin-right: 0.6rem
  padding-top: 0.8rem
  padding-left: 0.5rem
  padding-bottom: 0.9rem
  width: 25.5rem
  border-radius: 0
  &:focus
    outline: none
    background-color: input-focused

.error
  background-color: error
  &::placeholder
    color: primary-background
  &:focus
    background-color: error

// .waiting

// .fogcreek
//   margin-left: 0.3rem
//   position: relative
.trello
  width: 10%
.stack
  width: 9%

.hidden
  display: none;
.form-submitted
  font-weight: 600
  max-width: 50rem
  background-color: #C1FFE6
  padding: 0.3rem 0.5rem
  padding-top: 0.4rem
  margin-top: 1rem
  p
    margin: 0
    display: inline-block

hr
  background-color: section-line
  height: 1px
  border: none
 
.contact
  @media (min-width:medium)
    padding-top: 4em
  @media (min-width:large)
    padding-top: 6em
  @media (min-width:extralarge)
    padding-top: 10em

.contact-form
  background: #9DE0FC
  border-radius: 5px
  font-weight: 600
  margin: 0 auto
  padding: 1em
  @media (min-width:large)
    padding: 2em
    width: 76.851851852%
    display: flex
    .contact-form-desc
      width: 43.614457831%
      padding-right: 2em
      p
        padding-top: 5px
    @media (min-width:extralarge)
      padding: 3em    
    .contact-form-inputs
      width: 56.385542169%
    .contact-success
      width: 56.385542169%
      margin 0 auto
  
  .contact-logo
    display: none
    @media (min-width:large)
      display block
      width: 100px
      height: 100px

  .contact-success
    text-align: center
    img
      height: 5em
      width: 5em
      margin-bottom: 2em

  .form-input
    background: none
    border: 0
    border-bottom: 2px solid #192445
    border-radius: 0
    color: #192445
    font-weight: 600
    width: 100%
    margin-bottom: 1em
    padding: .5em
    &:focus
      background: rgba(255,255,255,.5)
      outline: none
    &.error
      background-color: #e75dff
    @media (min-width:large)
      font-size: 1rem
    @media (min-width:extralarge)
      font-size: 1.125rem
    
  ::placeholder
    color: rgba(25, 36, 69, .6)
  
.cta, .form-submit 
  margin: 0
  background-color: #83ffcd
  border-radius: 5px
  border: 2px solid black
  box-shadow: 4px 4px 0 #222
  color: black
  cursor: pointer
  display: inline-block
  line-height: 1.5em
  font-weight: 600
  padding: .5em .75em .375em
  text-decoration: none
  @media (min-width:medium)
    font-size: 1rem
  @media (min-width:extralarge)
    padding: .75em 2em .65em
  &:hover 
    color: black
    background-color: #83ffcd
    box-shadow: 2px 2px 0 #222
    position: relative
    left: 2px
    top: 2px

.form-submit 
  margin-top: 1em
  margin-left: auto
  margin-right: auto
  display: block
  margin-bottom: 1em
  -webkit-appearance: none

.form-sending
  background: #FF5C5B
  box-shadow: none
  cursor: not-allowed

.sending  
  display: inline-block
  overflow: hidden
  line-height: 1.5em
  vertical-align: text-bottom
  height: 1.3em
  width: 1.3em
  position: relative
  margin-left: 10px
  top: 1px
  &:after
    content: "🕐\a 🕑\a 🕒\a 🕓\a 🕔\a 🕕\a 🕖\a 🕗\a 🕘\a 🕙\a 🕚\a 🕛"
    position absolute
    white-space: pre
    text-align: left
    width: 1.3em
    animation: spin 3s steps(12) infinite  

.hidden
  display: none   
    
.beta
  position: fixed
  right: 20px
  bottom: 15px
  z-index: 4
  display: inline-block
  background-color: beta
  font-size: 12px
  font-weight: bold
  padding: 4px 8px
  padding-bottom: 2px
  vertical-align: middle
  margin-left: 5px
  user-select: none
  
.wistia_responsive_padding
  padding:56.25% 0 0 0
  position:relative
  
.wistia_responsive_wrapper
  height:100%
  left:0
  position:absolute
  top:0
  width:100%
  
.wistia_embed.wistia_async_68uqkfnff6
  display:inline-block
  height:95%
  width:100%

.projects 
  display: flex
  
.projects .project
  font-size: 1.6em;
  background-color: #9de0fc
  border-radius: 5px
  width: 95%
  max-width: 578px
  padding: 22px
  position: relative
  -webkit-transition: .1s all
  transition: .1s all

.projects .project:after
  bottom: 100%
  left: 1.5%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-bottom-color: #9de0fc
  border-width: 6px
  
.user-names
  display: inline-block
  margin-left: 6px
  font-size: 14px
  margin-bottom: 5px

.users .user img
  width: 32px
  height: auto
  position: relative
  display: inline
  border-radius: inherit

.users .user
  display: inline-block

.users .user:first-child
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

.users .user:last-child
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.users
  display: inline-block
  margin-top: 10px
  margin-bottom: 10px
  vertical-align: middle
  
.quote
  margin-top: 4em
  
.leftLinks
  float: left

.rightLinks
  float: right
  
.form-submit
  width: 50%;
  min-width: 120px;
  max-width: 200px;
  
.featured-projects
  // margin-bottom: 0.5rem
  
  p
    margin-bottom: 0
    
  ul
    padding: 0
    margin-bottom: 0
    margin-top: 0
    display: flex
    @media (max-width: 800px)
      flex-wrap: wrap
    //  display: block

  li
    margin-top: 0.5em
    list-style-type: none
    margin-right: 10px
    display: inline-block
    &:last-child
      margin-right: 0
    @media (max-width: largeViewport)
      width: 48%
    @media (max-width: mediumViewport)
      width: 100%
    @media (max-width: smallViewport)
      margin-right: 0

  .featured
    cursor: pointer
    margin-right: 10px
    background-color: section-line
    display: block
    width: 100%
    //min-width: 250px
    max-width: 375px
    height: auto
    border-radius: 5px
    @media (max-width: largeViewport)
      max-width: 425px
    &:last-child
      margin-right: 0

  .badge
    margin-left: 5px
  
  .featured-container
    position: relative
    &:hover
      .project-name
        text-decoration: underline
    
    .project-name
      position: absolute
      margin: 0
      padding: 10px
      padding-bottom: 5px
      bottom: 0
      left: 0
      font-weight: 600
      color: white
      cursor: pointer
      
h3
  margin-bottom: 1.5rem  
  
div.contact-form-inputs a input.form-submit
	margin-left: 0px
	max-width: 250px
	min-width: 220px  

div.contact-form-inputs a input.form-submit.oss
	margin-left: 0px
	max-width: 150px
	min-width: 120px   
  
div.contact-form-inputs a:hover
  text-decoration: none